<template>
  <div class="home">
    <Calculate msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Calculate from '@/components/Calculate.vue'

export default {
  name: 'home',
  components: {
    Calculate
  }
}
</script>
