<template>
  <div class="hello">
    <p>Ручная дуговая сварка сталей штучными электродами - АНО-3</p>
    <table class="table table-bordered ">
        <thead class="table-success">
          <tr >
            <th scope="col">Код ЗВ </th>
            <th scope="col">Название загрязняющего вещества (ЗВ)</th>
            <th scope="col">Коэф</th>
          </tr>
        </thead>
      <tbody>
        <tr v-for="a3 in aho3" :key="a3.id">
          <td>{{a3.cod}}</td>
          <td>{{a3.name}} </td>
          <td>{{a3.number2}}</td>
        </tr>
      </tbody>
    </table>
    <br>

    <p>Ручная дуговая сварка сталей штучными электродами - АНО-6</p>
    <table class="table table-bordered ">
      <thead class="table-success">
        <tr>
          <th scope="col">Код ЗВ </th>
          <th scope="col">Название загрязняющего вещества (ЗВ)</th>
          <th scope="col">Коэф</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="a6 in aho6" :key="a6.id">
          <td>{{a6.cod}}</td>
          <td>{{a6.name}} </td>
          <td>{{a6.number2}}</td>
        </tr>
      </tbody>
    </table>
    <br>

    <p>Ручная дуговая сварка сталей штучными электродами - МР-3</p>
    <table class="table table-bordered ">
      <thead class="table-success">
        <tr>
          <th scope="col">Код ЗВ </th>
          <th scope="col">Название загрязняющего вещества (ЗВ)</th>
          <th scope="col">Коэф</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="t in mp3" :key="t.id">
          <td>{{t.cod}}</td>
          <td>{{t.name}}</td>
          <td>{{t.number2}}</td>
        </tr>
      </tbody>
    </table>
    <br>

    <form class="d-flex inputs">
      <div class="form-group">
        <label for="amount1" >Количество: </label>
        <input type="number" class="form-control" id="number1" placeholder="Количество:" v-model="number1">
       
      </div>
      <div class="form-group ">
        <label for="coef1">Коэффициент: </label>
        <select class="form-control" type="number" id="number2" v-model="number2">
          <option>15.42</option>
          <option>14.97</option>
          <option>1.73</option>
          <option>9.77</option>
          <option>0.4</option>
        </select>
      </div>
    </form>

    <br>

    <button @click="add1(number1,number2)" class="btn btn-success">add  </button>
    <br>
    <p>Таблица результатов</p>
    <table class="table table-bordered result">
      <thead class="table-success">
        <tr>
          <th scope="col">Код ЗВ </th>
          <th scope="col">Название загрязняющего вещества (ЗВ)</th>
          <th scope="col">Результат 1</th>
          <th scope="col">Результат 2</th>
        </tr>
      </thead>
      <tbody>
        
        <tr v-for="i in table" :key="i.cod">
          <td>{{i.cod}}</td>
          <td>{{i.name}}</td>
          <td>{{i.res1}} </td>
          <td>{{i.res2}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'home',
  data:function() {
    return {
      aho3:[
        {id:1,type:"aho3",cod:"0123",name:"Железо (II) оксид",number2:"15.42"}
      ],
      aho6:[
        {id:1,type:"aho6",cod:"0123",name:"Железо (II) оксид",number2:"14.97"},
        {id:2,type:"aho6",cod:"0143",name:"Марганец и его соединения",number2:"1.73"}
      ],
      mp3:[
        {id:1,type:"mp3",cod:"0123",name:"Железо (II) оксид",number2:"9.77"},
        {id:2,type:"mp3",cod:"0143",name:"Марганец и его соединения",number2:"1.73"},
        {id:3,type:"mp3",cod:"0342",name:"Фтористые газообразные соединения (в пересчете на фтор)я",number2:"0.4"}
      ],
       table:[
      ],
      number1:0,
      number2:0,
      cod:"",
      name:""
  };
},
 methods: {
   add1(number1,number2){
      let i;
      for(i=0;i<this.aho3.length;i++){
        if(number2===this.aho3[i].number2){
          this.name=this.aho3[i].name;
          this.cod=this.aho3[i].cod;
        }
        console.log(this.aho3[i].number2,number2);
      }
      for(i=0;i<this.aho6.length;i++){
        if(number2===this.aho6[i].number2){
          this.name=this.aho6[i].name;
          this.cod=this.aho6[i].cod;
        }
        console.log(this.aho6[i].number2,number2);
      }
      for(i=0;i<this.mp3.length;i++){
        if(number2===this.mp3[i].number2){
          this.name=this.mp3[i].name;
          this.cod=this.mp3[i].cod;
        }
        console.log(this.mp3[i].number2,number2);
      }
      this.table.push({
        cod: this.cod,
        name: this.name,
        res1: ((number1*number2)/3600).toFixed(6),
        res2: ((number1*number2)/10000).toFixed(9)
      })
      

    },
   
 }
}
</script>


<style scoped lang="scss">
.form-group{
  width:200px;
  margin-left: 100px;
}
.table{
  width:90%;
  margin-left: 5%;
}
.btn{
  width:200px;
}
.inputs{
  margin-left: 28%;
}
.result{
  margin-bottom: 50px;
}
</style>
